@use 'sass:color';

$nav-bg-l-s: color.scale($bg-color-s-l, $alpha: -20%, $lightness: 40%, $saturation: -30%);
$nav-bg-d-s: color.scale($bg-color-s-d, $alpha: -20%, $lightness: -40%);

.alt-nav {
    header nav {
        background-color: $nav-bg-l-s !important;

        @media (prefers-color-scheme: dark) {
            background-color: $nav-bg-d-s !important;
        }
    }
}
